{% extends "guest.html" %}
{% load static %}
{% block title%}
    Login
{% endblock %}
{% block style %}
/* Styles for the form container */
.login-container {
    max-width: 400px;
    width:40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    /* Center the container horizontally */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 768px) {
    .login-container {
        max-width:98%;
        width:80%;
    }
}
@media (max-width: 480px) {
    .login-container {
        max-width:98%;
        width:96%;
    }
}


/* Styles for the form header */
.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

/* Styles for the form fields */
.login-field {
  margin-bottom: 15px;
}

.login-field label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.login-field input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

/* Styles for the submit button */
.login-submit {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--brand-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:15px;
}

/* Styles for error messages */
.login-error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
  
{% endblock %}

{% block content %}
<section>
<div class="login-container">
    <div class="login-header">
      <h2>Forgot Password</h2>
    </div>
    <form id="login-form" method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
      <div class="login-field">
        <label for="username">Email Address</label>
        <input type="email" id="username" name="email" placeholder="Enter your email" required>
      </div>

      <div class="" style="display:flex;justify-content:space-between;align-items:center;padding-inline: 2%;">
        <a href="{% url 'register' %}" style="">Create Account</a>
        <a href="{% url 'view_login' %}" style="">Login</a>
      </div>
      
      <button type="submit" class="login-submit">Request Password Reset</button>
      <div class="login-error" id="login-error"></div>
    </form>
  </div>
</section>

{% endblock %}

  {% block js%}
  const form = document.querySelector("#login-form");

  form.addEventListener("submit", async (event) => {
    event.preventDefault();
  
    const email = form.email.value;
  
    try {
      const response = await fetch("{% url 'password_reset' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
        },
        body: JSON.stringify({
          email,
        }),
      });
  
      const data = await response.json();
  
      if (response.ok) {
        showAlert("success","Reset Link Sent to your Email.");
        window.location.href = '/login';
      } else {
        console.log("Login failed");
        // Display an error message
        showAlert("failed","Kindly check your email address. And Try Once more.",5000);
      }
    } catch (error) {
      console.log(error);
    }
  });
  

  {% endblock %}