{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'eleso-v1.0/eleso-fonts.css' %}">
  <style>
    main{
        margin-left: 0;
        left: 0;
        width: 100%;
    }
 
{% block style %}{% endblock %}
  </style>

</head>
<body class='dar'>

<div class="modal">
  <div class="modal-content">
    <p class="alert-text">This is a custom alert message</p>
    <div class="close-container">
     <button class="close-button">&times;</button>
    </div>
  </div>
</div>
 
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script>
    {% block js %}{% endblock %}
  </script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
