<header class='header'>
  <nav>
    <ul>
      <li class="header-nav-ul-li__menuicon"><a><i class="icon-menu"></i></a></li>
      <li class="header-nav-ul-li__menuicon"><a href="#"><i class="icon-attach_money"></i>Wallet</a></li>
      <li class="header-nav-ul-li__bgremover"><a href="{% url 'bg-remover' %}"><i class="icon-brush"></i>Remove Bg</a></li>
      <li class="header-nav-ul-li__bgremover"><a href="{% url 'document' %}"><i class="icon-folder"></i>Doc Toolkit</a></li>
    </ul>
  </nav>
    <nav>
        <ul>
          <li><a href="{% url 'hire_request' %}" style="text-decoration:underline">Hire Douglas</a></li>
          <li><a href="{% url 'about' %}" style="text-decoration:underline">About Us</a></li>
        </ul>
      </nav>
</header>