<style>

      form .form-nav {
        /*display: flex;*/
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top:20px
      }
    
      
      form .form-nav a.active {
        background-color: var(--brand-color);
        color: var(--brand-neutral);
        border: 1px solid transparent;
      }
      
      form section {
        display: none;
      }
      
      form section:first-of-type {
        display: block;
      }
    
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 5px; 
      }
  
      
      form section h2{
        color:var(--brand-color);
        margin-bottom:8px;
        font-size: 16px;
        font-weight: 500;
      }
</style>

{% extends "base.html" %}
{% load static %}

{% block content %}
<section class='resume-request-container'>
    <h2> Create a Professional Resume/Cv | Guide </h2>
    <form method="post" action="/api/document_sessions/" id='resume-request'>
      {% csrf_token %}
        <!-- Navigation -->
        <div class='form-nav grid'>
          <a href="#section1">1. Contact Information</a>
          <a href="#section2">2. Professional Summary</a>
          <a href="#section3">3. Work Experience</a>
          <a href="#section4">4. Education</a>
          <a href="#section5">5. Skills</a>
          <a href="#section6">6. References</a>
    </div>
        
        <!-- Section 1: Contact Information -->
        <section id="section1">
          <h2>Section 1: Contact Information</h2>
          <div>
            <label for="full-name">Full Name:</label><br>
            <input type="text" id="full-name" name="full_name" placeholder="Enter your full name" required>
          </div>
          <div>
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address" placeholder="Enter your address" required>
          </div>
          <div>
            <label for="phone-number">Phone Number:</label><br>
            <input type="tel" id="phone-number" name="phone_number" placeholder="Enter your phone number" required>
          </div>
          <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email address" required>
          </div>
        </section>
        
        <!-- Section 2: Professional Summary -->
        <section id="section2">
          <h2>Section 2: Professional Summary</h2>
          <div>
            <textarea id="professional-summary" name="professional_summary" rows="5" placeholder="Enter a brief statement outlining your career goals and highlighting your most relevant qualifications" required></textarea>
          </div>
        </section>
        
       <!-- Section 3: Work Experience -->
  <section id="section3" class="work-experience">
    <h2>Section 3: Work Experience</h2>
    <div class="mini-card">
      <div>
        <label for="job-title">Job Title:</label><br>
        <input type="text" id="job-title" name="job_title" placeholder="Enter your job title" required>
      </div>
      <div>
        <label for="dates-of-employment">Dates of Employment:</label><br>
        <input type="text" id="dates-of-employment" name="dates_of_employment" placeholder="Enter your dates of employment" required>
      </div>
      <div>
        <label for="duties">Duties:</label><br>
        <textarea id="duties" name="duties" rows="5" placeholder="Enter a brief description of your duties" required></textarea>
      </div>
    </div>
    <div id="section3-1"></div>
    <button type="button" id="add-experience">Add Experience</button>
  </section>
  
  <!-- Section 4: Education -->
  <section id="section4" class="education">
    <h2> Section 4: Education</h2>
    <div class="mini-card">
      <div>
        <label for="school-name">School Name:</label><br>
        <input type="text" id="school-name" name="school_name" placeholder="Enter the name of your school" required>
      </div>
      <div>
        <label for="degree">Degree:</label><br>
        <input type="text" id="degree" name="degree" placeholder="Enter your degree" required>
      </div>
      <div>
        <label for="dates-of-attendance">Dates of Attendance:</label><br>
        <input type="text" id="dates-of-attendance" name="dates_of_attendance" placeholder="Enter your dates of attendance" required>
      </div>
  </div>
    <div id="section4-1"></div>
    <button type="button" id="add-education">Add Education</button>
  </section>
  
  <!-- Section 5: Skills -->
  <section id="section5">
    <h2>Section 5: Skills</h2>
    <div>
      <label for="skills">Skills:</label><br>
      <textarea id="skills" name="skills" rows="5" placeholder="Enter a list of skills that are relevant to the job you are applying for" required></textarea>
    </div>
  </section>
  <!-- Section 6: References -->
  <section id="section6" class="reference">
    <h2> Section 6: References</h2>
    <div class="mini-card">
      <div>
        <label for="reference-name">Name:</label><br>
        <input type="text" id="reference-name" name="reference_name" placeholder="Enter the name of your reference" required>
      </div>
      <div>
        <label for="reference-contact-info">Contact Information:</label><br>
        <input type="text" id="reference-contact-info" name="reference_contact_info" placeholder="Enter the contact information for your reference" required>
      </div>
      <div>
        <label for="reference-relationship">Relationship:</label><br>
        <input type="text" id="reference-relationship" name="reference_relationship" placeholder="Enter your relationship with your reference" required>
      </div>
    </div>
    <div id="section6-1"></div>
    <div class="mini-card">
      <h2> Details for Creating Cover Letter</h2>
      <div>        
        <label for="apply_to">Where are you applying Job to:</label><br>
        <input type="text" id="apply_to" name="apply_to" placeholder="I'm applying for Webdesign in XYZ Company" required>
      </div>

      <div>
        <label for="reference-relationship">Indicate Details for Cover letter: Add job Requirements</label><br>
        <input type="text" id="letter-detais" name="letter_details" placeholder="Enter your Details for Cover letter" required>
      </div>
    </div>
  
      <!-- Submit Button -->
      <div>
        <button type="button" id="add-reference">Add Reference</button>
      </div>
  <div style='margin:8px auto'>
    <button type="submit" id="resume-request">
        <span id='submit-button-text'>Save</span>
        <img src="{% static 'icons/ripple.svg' %}" alt="loading" id="loading-data" style="display:none;">
      </button>
  </div>

</section>
  
</form>

    <script>
 const navLinks = document.querySelectorAll(".form-nav> a");
const sections = document.querySelectorAll("form section");

// Check whether all required fields in a section are filled out
function checkCompletion(section) {
    const inputs = section.querySelectorAll("input[required], textarea[required]");
    let completed = true;
    inputs.forEach(input => {
      if (input.value === "") {
        completed = false;
      }
    });
    return completed;
  }

navLinks.forEach(link => {
  link.addEventListener("click", event => {
    event.preventDefault();
    navLinks.forEach(link => link.classList.remove("active"));
    link.classList.add("active");
    const target = document.querySelector(link.hash);
    sections.forEach(section => {
      if (section === target) {
        section.style.display = "block";
      } else {
        section.style.display = "none";
      }
    });
  });
});
const forma = document.querySelector("#resume-request");

forma.addEventListener("input", event => {
    const target = event.target;
    if (target.tagName === "INPUT" || target.tagName === "TEXTAREA") {
      const section = target.closest("section");
      const navLink = document.querySelector(`.form-nav a[href="#${section.id}"]`);
      navLink.setAttribute("data-completed", checkCompletion(section));
    }
  });
    

// get the form element
//const form = document.querySelector('resume-form');


// Get the form element
//const form = document.getElementById("resume-form");

// Add event listener to the "Add Work Experience" button
const addWorkExpBtn = document.getElementById("add-experience");
addWorkExpBtn.addEventListener("click", addWorkExperience);

// Add event listener to the "Add Education" button
const addEducationBtn = document.getElementById("add-education");
addEducationBtn.addEventListener("click", addEducation);

// Add event listener to the "Add Reference" button
const addReferenceBtn = document.getElementById("add-reference");
addReferenceBtn.addEventListener("click", addReference);

// Function to add a new work experience field

  // Function to add a new work experience field
  function addWorkExperience() {
    const workExperienceContainer = document.getElementById("section3-1");
    const workExperience = document.createElement("div");
    workExperience.className = "work-experience";
  
    workExperience.innerHTML = `
    <div class="mini-card">
    <div>
      <label for="job-title">Job Title:</label><br>
      <input type="text" id="job-title" name="job_title" placeholder="Enter your job title" required>
    </div>
    <div>
      <label for="dates-of-employment">Dates of Employment:</label><br>
      <input type="text" id="dates-of-employment" name="dates_of_employment" placeholder="Enter your dates of employment" required>
    </div>
    <div>
      <label for="duties">Duties:</label><br>
      <textarea id="duties" name="duties" rows="5" placeholder="Enter a brief description of your duties" required></textarea>
    </div>
  </div>
    `;
  
    workExperienceContainer.appendChild(workExperience);
  }
  
  

// Function to add a new education field
function addEducation() {
  const educationContainer = document.getElementById("section4-1");
  const education = document.createElement("div");
  education.className = "education";

  education.innerHTML = `
  <div class="mini-card">
  <div>
    <label for="school-name">School Name:</label><br>
    <input type="text" id="school-name" name="school_name" placeholder="Enter the name of your school" required>
  </div>
  <div>
    <label for="degree">Degree:</label><br>
    <input type="text" id="degree" name="degree" placeholder="Enter your degree" required>
  </div>
  <div>
    <label for="dates-of-attendance">Dates of Attendance:</label><br>
    <input type="text" id="dates-of-attendance" name="dates_of_attendance" placeholder="Enter your dates of attendance" required>
  </div>
</div>
  `;

  educationContainer.appendChild(education);
}

// Function to add a new reference field
function addReference() {
  const referenceContainer = document.getElementById("section6-1");
  const reference = document.createElement("div");
  reference.className = "reference";

  reference.innerHTML = `
  <div class="mini-card">
  <div>
    <label for="reference-name">Name:</label><br>
    <input type="text" id="reference-name" name="reference_name" placeholder="Enter the name of your reference" required>
  </div>
  <div>
    <label for="reference-contact-info">Contact Information:</label><br>
    <input type="text" id="reference-contact-info" name="reference_contact_info" placeholder="Enter the contact information for your reference" required>
  </div>
  <div>
    <label for="reference-relationship">Relationship:</label><br>
    <input type="text" id="reference-relationship" name="reference_relationship" placeholder="Enter your relationship with your reference" required>
  </div>
</div>
      `
      referenceContainer.appendChild(reference)
}


    </script>
      

    <script>
     const formb = document.querySelector("#resume-request")
     const submitButton = formb.querySelector("button[type='submit']");
        formb.addEventListener('submit', function(event) {
          // prevent the default form submission
          event.preventDefault();
          saveDocument()  
      });
      function createDocument(url, formData) {
        // send the form data to the server
        submitButton.innerText="Loading..."
        submitButton.setAttribute('disabled', 'disabled');
        submitButton.style.cursor = 'progress';

        return fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
          },
          body: JSON.stringify(formData),
          credentials: 'same-origin', // include cookies in the request
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to save document');
          }
          return response.json();
        })
        .then(data => {
          showAlert("session saved","Document saved successfully")
          submitButton.setAttribute('disabled', 'disabled');
          submitButton.innerText="Submit Another"
          submitButton.style.cursor = 'pointer';
          return data;
        })
        .catch(error => {
          console.error(error);
          throw error;
        });
      }
      
      function saveDocument() {
        const form = document.getElementById('resume-request');
        const formData = new FormData(form);
        const data = {
          document_type: "Resume",
          content: {
            contact_info: {
              full_name: formData.get('full_name'),
              address: formData.get('address'),
              phone_number: formData.get('phone_number'),
              email: formData.get('email')
            },
            professional_summary: formData.get('professional_summary'),
            work_experience: [],
            education: [],
            skills: formData.get('skills'),
            references: [],
            cover_letter: {
              apply_to: formData.get('apply_to'),
              letter_details: formData.get('letter_details')
            }
          }
        };
        
        // handle work experience fields
        const workExperienceFields = document.querySelectorAll('.work-experience');
        workExperienceFields.forEach(field => {
          const jobTitle = field.querySelector('[name="job_title"]').value;
          const datesOfEmployment = field.querySelector('[name="dates_of_employment"]').value;
          const duties = field.querySelector('[name="duties"]').value;
          data.content.work_experience.push({ job_title: jobTitle, dates_of_employment: datesOfEmployment, duties: duties });
        });
        
        // handle education fields
        const educationFields = document.querySelectorAll('.education');
        educationFields.forEach(field => {
          const schoolName = field.querySelector('[name="school_name"]').value;
          const degree = field.querySelector('[name="degree"]').value;
          const datesOfAttendance = field.querySelector('[name="dates_of_attendance"]').value;
          data.content.education.push({ school_name: schoolName, degree: degree, dates_of_attendance: datesOfAttendance });
        });
        
        // handle reference fields
        const referenceFields = document.querySelectorAll('.reference');
        referenceFields.forEach(field => {
          const referenceName = field.querySelector('[name="reference_name"]').value;
          const referenceContactInfo = field.querySelector('[name="reference_contact_info"]').value;
          const referenceRelationship = field.querySelector('[name="reference_relationship"]').value;
          data.content.references.push({ reference_name: referenceName, reference_contact_info: referenceContactInfo, reference_relationship: referenceRelationship });
        });
      //console.log(data)
        createDocument('/document_sessions/', data);
      }


 

    </script>
</section>
{% endblock %}