{% extends "base.html" %}
{% load static %}

{% block content %}

<style>


</style>


<section class='basic-content-container'>
 <h2>Eleso Mobile Wallet <span style="font-size:10px;color:red">coming soon</span></h2>
    <div class="wallet_tabs">
        <a href="{% url 'tp2c_funds_transfer' %}" id="tp2c_funds_transfer">Deposit</a>
        <a href="{% url 'c2c_internal_funds_transfer' %}" id="c2c_internal_funds_transfer">Internal Funds Transfer</a>
        <a href="{% url 'c2tp_funds_transfer' %}" id="c2tp_funds_transfer">Transfer to Other</a>
        <a href="{% url 'c2c_buy_goods_and_services' %}" id="c2c_buy_goods_and_services">Buy Goods & Services</a>
        <a href="" id="b2c_credit_program">Credit Program</a>
        <a href="{% url 'c2b_funds_debit' %}"  id="c2b_funds_debit">C2B Funds Debit </a>
        <a href="{% url 'b2c_funds_credit' %}" id="b2c_funds_credit">B2C Funds Credit</a>
        <a href="{% url 'transaction_short_statement' %}" id="transaction_short_statement">Request Short statement</a>
        <a href="{% url 'transaction_full_statement' %}" id="transaction_full_statement">Request full statement</a>
    <div>
 </section

 <section id="wallet_function_container">
    <article id="tp2c_funds_transfer_content"></article>
    <article id="c2c_internal_funds_transfer_content"></article>
    <article id="c2tp_funds_transfer_content"></article>
    <article id="c2c_buy_goods_and_services"></article>
    <article id="b2c_credit_program_content"></article>
    <article id="c2b_funds_debit_content"></article>
    <article id="b2c_funds_credit_content"></article>
    <article id="transaction_short_statement_content"></article>
    <article id="transaction_full_statement_content"></article>
 </section>
  

{% endblock %}
