{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="about-us-card">
    <header class="about-us-card__header">
      <h1 class="about-us-card__title">About Us</h1>
    </header>
    <article class="about-us-card__body">
      <p class="about-us-card__description">
        We are a team of passionate and dedicated professionals who are committed to delivering the best possible products and services to our customers. We believe in innovation, collaboration, and continuous learning, and strive to create a positive and inclusive work culture that values diversity and inclusion.
      </p>
      <p class="about-us-card__values">
        Our core values are excellence, integrity, and customer satisfaction. We are constantly striving to improve our skills and knowledge, and are committed to delivering the highest quality products and services to our customers.
      </p>
    </article>
  </div>
  

{% endblock %}